body,
html {
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-size: 3em;
  font-weight: 700;
}

.spacing {
  margin-top: 100px;
}

.title-underline {
  color: #64676c;
  font-weight: 600;
  margin-top: 5rem;
  border-bottom: 2px solid rgb(255, 45, 96);
  display: inline-block;
  padding-bottom: 1px;
  font-family: sans-serif;
}

.checked {
  background-color: green;
}

/* Warning-message ↓ */
.warning-message {
  position: absolute;
  position: fixed;
  top: 15px;
  right: 25px;
  color: white;
  background-color: rgb(255, 45, 96);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
  border-radius: .25rem;
}

.close:hover {
  color: #f5f5f5;
}

/* Tasks style ↓ */
#addtask {
  margin-top: 25px;
  margin-bottom: 25px;
}

.newtask {
  cursor: move;
}

input[type="text"] {
  cursor: move;
}

/* Others ↓ */
.small-title {
  color: #6c757d;
  font-size: 1em;
  /* position: relative; */
  margin-top: 20px;
}

.gray-text {
  color: #bfbfbf;
}

.disappear:hover {
  color: #f5f5f5;
  transition: all .1s ease-in-out;
}

/* Buttons light & dark styles ↓ */
.light-icon {
  border: 1px solid #aaa;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
  box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee);
  background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee);
  background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee);
  background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
  color: #000;
  padding: 0.1em 0.3em;
  font-family: inherit;
  font-size: 0.85em;
}

.dark-icon {
  min-width: 1em;
  padding: .2em .3em;
  font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  border: none;
  cursor: default;
  color: rgb(250, 250, 250);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(top, rgb(60, 60, 60), rgb(80, 80, 80));
  text-shadow: -1px -1px 0 rgb(70, 70, 70);
  -moz-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -0.05em 0.4em rgb(80, 80, 80), 0 0.1em 0 rgb(30, 30, 30), 0 0.1em 0.1em rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -0.05em 0.4em rgb(80, 80, 80), 0 0.1em 0 rgb(30, 30, 30), 0 0.1em 0.1em rgba(0, 0, 0, .3);
}